// body{
// position: relative;
// }
.card-details{
    width: 80%;
    height: 80vh;
    background-color: white;
    // position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    border: none;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: white;
    border-radius: 30px;
   overflow: hidden;

    .imgElement{
        width: 50%;
        height: 100%;
        overflow: hidden;
        // padding: 20px;
        text-align: center;
        

        img{
            width: 100%;
            // height: 100%;
            object-fit: contain;
            overflow: hidden;
        }
    }

    .textContainer{
        width: 40%;
        padding: 30px;
        // position: relative;
    }
    .done{
        // position: absolute;
        width: 50px;
        height: 50px;
        top: 10px;
        right: 40px;
        background: rgb(203, 165, 203);
        font-size: 50px;
        font-weight: 100;
        border: none;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
&:hover{
    background: rgb(146, 30, 146) ;
}
        &::after{
position: absolute;
content: '\00d7';
right: 11px;
top: -3px;
color: white; 

        }
      }
    }




