
  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400&display=swap');
@import url(./like.scss);
@import url(./header.scss);
@import url(./slider.scss);
@import url(./catalog.scss);
// @import url(./cartModal.scss);
@import url(./cardDetails.scss);
@import url(./cartContainer.scss);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  .container {
    max-width: 1400px;
    padding: 0 15px;
    margin: auto;
  }